# LIST COMPREHENSION

In [1]:
h = []
for i in "human":
    h.append(i)
h

['h', 'u', 'm', 'a', 'n']

In [2]:
h = [letter for letter in "human"] # [expression for var in iterator]
h

['h', 'u', 'm', 'a', 'n']

In [4]:
# print 2's table

h = [x*2 for x in range(1,11)]
h

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
h = [x*2 for x in range(1,11)]
for i in range(len(h)):
    print(str(2) + " x "+str(i+1)+ " = "+ str(h[i]))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [11]:
x = int(input("enter num"))
h = [i*x for i in range(1,11)]
h

enter num3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [12]:
# Transpose 
# [1,2,3,4]
# [5,6,7,8]
# [1,5]
# [2,6]
# [3,7]
# [4,8]

In [13]:
matrix = [[1,2,3,4],[5,6,7,8]]
transpose = []
for i in range(len(matrix[0])):
    row = []
    for j in matrix:
        row.append(j[i])
    transpose.append(row)
transpose

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [14]:
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
transpose

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [24]:
lst=[1,2,3,4,5,6,7]
for i in range(len(lst)): # for(i=0;i<10;i++)
    print(lst[i])

1
2
3
4
5
6
7

# DICTIONARY

In [27]:
a = {'Ali': "0308234234", "Mufaddal": "9387384342"}

dict

In [28]:
a = dict([(1,'a'),(2,'b'),(3,'c')])
a

{1: 'a', 2: 'b', 3: 'c'}

In [44]:
a = {
    'a':"apple",
    'b':"onion",
    'c':"car",
    'd': "bike"
}
a.get('f',"Not found")

'Not found'

In [45]:
for i in a.keys():
    print(i)

a
b
c
d

In [46]:
for i in a.values():
    print(i)

apple
onion
car
bike

In [47]:
for key, value in a.items():
    print(key, value)

a apple
b onion
c car
d bike

In [52]:
list1 = [1,2,3,4,5,6,7,8] # keys
list2 = ['a','b','c','d','e','f','g'] # values
res = {}

# for key in list1:
#     for value in list2:
#         res[key] = value
#         list2.remove(value)
#         break
res = dict(zip(list1,list2))
res

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

## num of ph numbers to be added
## name and num and add it to dictionary